.markdown-body ol ol,
.markdown-body ul ol {
    list-style-type: decimal;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
    list-style-type: decimal;
}

.md-raw {
    white-space: pre-wrap;
}

.blocked {
    box-shadow: 0 0 2px 2px #8b0000;
}

#raw-text {
    display: none;
}

div.info {
    background-color: #a6dcef;
}

div.warning {
    background-color: #f5fac8;
}

div.error {
    background-color: #f7b3a7;
}

body {
    font-family: sans-serif;
}

button {
    white-space: nowrap;
}
