.markdown-body ol ol,
.markdown-body ul ol {
    list-style-type: decimal;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
    list-style-type: decimal;
}

.md-raw {
    white-space: pre-wrap;
}

#raw-text {
    display: none;
}

div.info {
    background-color: #a6dcef;
}

div.warning {
    background-color: #f5fac8;
}

div.error {
    background-color: #f7b3a7;
}

#status-bar {
    background-color: #fff;
    border-top: 1px solid #ccc;
    bottom: 0;
    color: #555;
    height: 20px;
    left: 0;
    position: fixed;
    right: 0;
}

#status-text {
    display: unset;
    font-family: Sans-serif;
    font-size: 9pt;
    line-height: 0;
    padding-left: 10px;
    vertical-align: middle;
    white-space: nowrap;
}

#menu-border {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    height: 0px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

#blocked-content-info {
    background-color: #ffffe1;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #ddd;
    border-width: 1px;
    color: black;
    cursor: pointer;
    height: 30px;
    left: 0;
    line-height: 30px;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-align: left center;
    top: 0;
}

.blocked-content-info-text {
    font-family: Sans-serif;
    font-size: 10pt;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#blocked-content-info-text-container {
    display: table-cell;
    width: 100%;
}

#blocked-content-info-close-button {
    display: table-cell;
}

body {
    margin: 10px 15px 35px 15px;
}

@media (prefers-color-scheme: dark) {
    div.info {
        background-color: #726a95;
    }

    div.warning {
        background-color: #ba6b57;
    }

    div.error {
        background-color: #8f4068;
    }

    #raw-text {
        color: #f8f8f2;
    }

    #status-bar {
        background: #292a2d;
        border-top: 1px solid black;
        color: #f8f8f2;
    }

    #menu-border {
        background-color: #292a2d;
        border-bottom: 1px solid black;
    }

    #blocked-content-info {
        background-color: #7a1f28;
        border-color: black;
        color: #f8f8f2;
    }
}

@media print {
    #blocked-content-info,
    #status-bar {
        display: none;
    }

    .markdown-body pre,
    .markdown-body pre > code {
        overflow: visible;
        white-space: pre-wrap;
    }

    p,
    pre {
        page-break-inside: avoid;
    }
}
